@font-face{
  font-family: 'Molle';
  font-weight: 400;
  font-style: italic;
  src: url('./molle-v11-latin-italic.woff2') format('woff2'),
       url('./molle-v11-latin-italic.woff') format('woff'),
       url('./molle-v11-latin-italic.ttf') format('truetype');
  font-display: swap;
}

