@import url('../../fonts/Zilla_Slab/Zilla\ Slab.css');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

input::placeholder {
  color: var(--placeholder-color);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

#container {
  padding: 1rem 0;
  outline: 2px solid black;
  width: 30%;
  display: grid;
  row-gap: 2rem;
  justify-items: center;
  min-width: 300px;
  box-shadow: -10px 10px 0 0 black;
}

#title {
  --title-size: 5rem;
  font-family: 'Zilla Slab', serif;
  text-align: center;
  font-size: var(--title-size);
  font-weight: 700;
}

input {
  --placeholder-color: lightgray;
  --input-size: 1.1rem;
  --input-bgcolor: white;
  --border-color: black;
  --border-width: 1px;
  background-color: var(--input-bgcolor);
  margin-bottom: 1rem;
  font-family: sans-serif;
  outline: var(--border-width) solid var(--border-color);
  padding: 0.5rem 1rem;
  border: none;
  font-size: var(--input-size);
}

input:focus {
  outline: 2px solid black;
  outline-offset: 2px;
}

#password {
  margin-bottom: 1rem;
}

#buttons {
  --button-size: 1.2rem;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
  font-family: sans-serif;
  font-size: var(--button-size);
}

button {
  border: none;
  background-color: transparent;
  font-size: inherit;
  outline: 2px solid black;
  padding: 0.2rem 0.5rem;
  font-weight: 700;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: white;
  outline-offset: 1px;
}

#success {
  display: none;
  color: green;
  text-align: center;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
}

@media only screen and (max-width: 1200px) {
  #title {
    --title-size: 3.9rem;
  }
  input {
    --input-size: 0.9rem;
  }
  #buttons {
    --button-size: 1rem;
  }
}
