@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Zilla+Slab:wght@700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

html {
  overflow-x: hidden;
}

img {
  all: unset;
}

svg {
  filter: invert(100%);
  width: 2rem;
}

body {
  background-color: #0a93cd;
  display: flex;
  justify-content: center;
}

#container {
  display: grid;
  justify-content: center;
}

#title {
  font-family: 'Zilla Slab', serif;
  text-align: center;
  font-size: 3.3rem;
  margin: 0.5rem 0 2rem;
}

#search {
  display: flex;
  justify-content: center;
}

input#city_name {
  font-size: 1.3rem;
  border: none;
  background-color: #2c9bca;
  border-radius: 0.2rem;
  padding: 0.7rem 1rem;
}

input#city_name:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

::-webkit-input-placeholder {
  color: lightgray;
  text-align: center;
}

::-moz-placeholder {
  color: white;
  text-align: center;
}

#current_weather {
  background-color: #2c9bca;
  margin: 1.3rem 0;
  border-radius: 1.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.8rem 0.8rem 1.5rem;
  column-gap: 2rem;
}

#main {
  display: grid;
  row-gap: 0.2rem;
}

#main > #city {
  font-size: 2.1rem;
  font-weight: 700;
}

#main > #city::first-letter {
  text-transform: uppercase;
}

#main > #day_time,
#weather_description {
  font-size: 0.9rem;
}

#weather_description {
  text-transform: capitalize;
}

#weather_temp_container {
  display: flex;
  align-items: center;
}

#weather_icon {
  width: 5rem;
  height: 5rem;
}

#weather_temp {
  font-size: 1.2rem;
}

#feels_like {
  font-size: 0.8rem;
}

#extra {
  display: grid;
}

#extra > div {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  align-items: center;
  column-gap: 0.7rem;
}

#extra {
  justify-self: flex-end;
}

#extra > div > .value {
  font-size: 0.9rem;
}

#forecast {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.8rem;
  margin-bottom: 1rem;
}

.forecast_tile {
  background-color: #2c9bca;
  border-radius: 0.3rem;
  display: grid;
  justify-content: center;
  text-align: center;
  padding: 0.5rem 0;
}

.forecast_tile > .day {
  font-weight: 600;
}

.forecast_tile > .temp {
  font-size: 0.9rem;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #2c9bca;
  display: none;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 100%;
  animation: loading 1s infinite;
}

@keyframes loading {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
    opacity: 0;
  }
}
