.container {
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  background-color: var(--cyan3);
  font-family: 'Inter', sans-serif;
}

.passwordContainer {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
}

.password {
  width: 50ch;
  font-size: 1rem;
  color: var(--cyan12);
  overflow-wrap: break-word;
}

.timestamp {
  color: var(--slate11);
  font-size: 0.75rem;
}

.copyButton {
  color: var(--cyan12);
  background-color: transparent;
  border: none;
  align-self: center;
}
