@import url('../../fonts/IBM_Plex_Mono/IBM\ Plex\ Mono.css');
@import url('../../fonts/IBM_Plex_Sans/IBM\ Plex\ Sans.css');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#container {
  display: grid;
  grid-template-rows: 1fr 1fr 0.7fr 0.3fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'title title'
    'number number'
    'from to'
    'dec dec'
    'button button';
  width: 50%;
}

#title {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  font-size: 2.8rem;
  grid-area: title;
  justify-self: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
  text-align: center;
}

#gen_num {
  grid-area: number;
  justify-self: center;
  font-size: 3.2rem;
  cursor: copy;
}

#from,
#to {
  justify-self: center;
  font-size: 2rem;
  display: flex;
  column-gap: 1rem;
  height: fit-content;
}

#from {
  grid-area: from;
}

#to {
  grid-area: to;
}

#from > input,
#to > input {
  border: 3px solid black;
  width: 4.5rem;
  font-size: 1.3rem;
  text-align: right;
  padding-right: 0.1rem;
}

#decimal {
  grid-area: dec;
  justify-self: center;
  display: flex;
  font-size: 1.1rem;
  height: fit-content;
  align-items: baseline;
  column-gap: 0.5rem;
  cursor: pointer;
}

#gen {
  grid-area: button;
  justify-self: center;
  background-color: black;
  color: white;
  font-size: 2rem;
  height: fit-content;
  cursor: pointer;
  padding: 0.2rem 0.5rem;
}

#gen:hover {
  background-color: white;
  color: black;
  outline: 3px solid black;
}

@media only screen and (max-width: 750px) {
  body {
    height: fit-content;
  }
  #container {
    width: 100%;
  }
  #title {
    font-size: 2.5rem;
  }
}
