@font-face{
  font-family: 'Zilla Slab';
  src: url('./ZillaSlab-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'Zilla Slab';
  src: url('./ZillaSlab-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face{
  font-family: 'Zilla Slab';
  src: url('./ZillaSlab-Italic.ttf');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face{
  font-family: 'Zilla Slab';
  src: url('./ZillaSlab-Light.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'Zilla Slab';
  src: url('./ZillaSlab-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face{
  font-family: 'Zilla Slab';
  src: url('./ZillaSlab-Medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'Zilla Slab';
  src: url('./ZillaSlab-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face{
  font-family: 'Zilla Slab';
  src: url('./ZillaSlab-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'Zilla Slab';
  src: url('./ZillaSlab-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'Zilla Slab';
  src: url('./ZillaSlab-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

