@font-face{
  font-family: 'Pangolin';
  font-weight: 400;
  font-style: normal;
  src: url('./pangolin-v6-latin-regular.woff2') format('woff2'),
       url('./pangolin-v6-latin-regular.woff') format('woff'),
       url('./pangolin-v6-latin-regular.ttf') format('truetype');
  font-display: swap;
}

