@import url('../../fonts/IBM_Plex_Mono/IBM\ Plex\ Mono.css');
@import url('../../fonts/Raleway/Raleway.css');

:root {
  --dark-0dp: #121212;
  --dark-6dp: #2c2c2c;
  --dark-8dp: #2e2e2e;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  color: white;
  font-weight: 700;
}

body {
  min-height: 100vh;
}

#container {
  min-height: inherit;
  display: flex;
  align-items: center;
  row-gap: 3rem;
  flex-direction: column;
  background-color: var(--dark-0dp);
}

#box {
  width: 10rem;
  height: 10rem;
  background-color: #6114e5;
  transition: border-radius 500ms ease;
}

#title {
  margin-top: 1.5rem;
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  color: white;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.copy {
  border: none;
  background-color: var(--dark-6dp);
  display: flex;
  justify-content: space-between;
  border-radius: 0.6rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

.copy_title {
  font-size: 1rem;
  font-family: 'IBM Plex Mono', monospace;
  margin-left: 0.5rem;
}

#input_container {
  background-color: var(--dark-6dp);
  padding: 1.5rem 2.5rem;
  border-radius: 1rem;
}

.subcontainer_title {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.5rem;
  grid-area: title;
}

.subcontainer {
  display: grid;
  grid-template-columns: repeat(2, 8fr) 1fr;
  grid-template-areas: 'title title title';
  column-gap: 2rem;
  row-gap: 1rem;
}

.subcontainer:nth-of-type(1) {
  margin-bottom: 2rem;
}

.property_title {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.2rem;
}

.property {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.property_input {
  justify-self: end;
}

.link_icon {
  justify-self: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

input {
  width: 3rem;
  font-family: 'Raleway', sans-serif;
  color: black;
  font-size: 1.1rem;
  text-align: right;
}

select {
  background-color: var(--dark-8dp);
  border: none;
}

@media only screen and (max-width: 800px) {
  .subcontainer {
    all: unset;
    display: grid;
    grid-template-columns: 6fr 1fr;
    row-gap: 0.5rem;
    grid-template-areas:
      'title title'
      '. icon1'
      '. icon1'
      '. icon2'
      '. icon2';
  }
  .link_icon:nth-of-type(1) {
    grid-area: icon1;
    align-self: center;
  }
  .link_icon:nth-of-type(2) {
    grid-area: icon2;
    align-self: center;
  }
  #input_container {
    padding: 1rem 1rem;
  }
}

/* unables children to recieve click event */
.copy > * {
  pointer-events: none;
}

.done {
  background-color: green;
}
