@import url('../../fonts/IBM_Plex_Mono/IBM\ Plex\ Mono.css');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
}

#container {
  margin-left: 1rem;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 2fr;
  row-gap: 2rem;
  grid-template-areas:
    'title'
    'input';
}

.warning {
  color: red;
  font-size: calc(0.8rem + 0.2vw);
  display: none;
}

#title {
  font-size: calc(6rem + 3vw);
  grid-area: title;
}

.input {
  grid-area: input;
  margin-left: 0.8rem;
  display: grid;
  row-gap: 1.3rem;
}

.input_title {
  font-size: calc(2rem + 0.5vw);
}

input {
  font-size: calc(1rem + 0.2vw);
  font-weight: 600;
  width: max-content;
  border: none;
  outline: 1px solid black;
  padding: 0.5rem;
}

#login {
  background: black;
  color: white;
  font-size: calc(1rem + 0.5vw);
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  border: none;
}

#login:hover {
  background: white;
  color: black;
  outline: 2px solid black;
}

.input_field {
  display: flex;
  flex-direction: column;
}

.input_field:nth-of-type(3) {
  flex-direction: row;
  column-gap: 0.5rem;
}

.input_field:nth-of-type(3) .input_title {
  font-size: calc(1rem + 0.2vw);
}

.input_field:nth-of-type(3) input {
  font-size: 1rem;
  padding: 0;
  width: 4ch;
}

svg {
  position: absolute;
  bottom: 0;
  z-index: -1;
}
