@font-face{
  font-family: 'Rock Salt';
  font-weight: 400;
  font-style: normal;
  src: url('./rock-salt-v11-latin-regular.woff2') format('woff2'),
       url('./rock-salt-v11-latin-regular.woff') format('woff'),
       url('./rock-salt-v11-latin-regular.ttf') format('truetype');
  font-display: swap;
}

