@import url('../../fonts/Pangolin/Pangolin.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #021838;
  display: grid;
  place-content: center;
  height: 100vh;
}

main {
  background-color: #a9b5c2;
  font-family: 'Pangolin', cursive;
  padding: 1.8rem;
  border-radius: 10px;
  display: grid;
  row-gap: 1.5rem;
}

h1 {
  color: #0060b8;
  font-size: 2.5rem;
}

h1 > span {
  font-size: 4.5rem;
  line-height: 6rem;
  vertical-align: middle;
}

label,
._formula > span:first-of-type,
main > div {
  font-size: 1.3rem;
}

form {
  display: grid;
  row-gap: 0.5rem;
}

form > :not(:nth-last-child(2)) {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr;
  column-gap: 0.3rem;
}

input[type='number'] {
  width: 10ch;
  margin-left: 1rem;
  caret-color: #0060b8;
}

select {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 1rem;
}

input[type='submit'] {
  font-family: 'Pangolin', cursive;
  font-size: 1.2rem;
  background-color: #2187e7;
  border: none;
  padding: 0.2em 0.5em;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

input[type='submit']:active {
  color: white;
  background-color: #003363;
}

.formula {
  font-size: 1.1rem;
}

@media only screen and (max-width: 600px) {
  form > :not(div:last-of-type) {
    display: grid;
    grid-template-columns: auto 1fr !important ;
    grid-template-rows: 1fr 1fr !important ;
    row-gap: 0.3rem;
  }

  label,
  ._formula > span {
    grid-column: 1 / -1;
  }

  input {
    font-size: 1.2rem;
  }

  select {
    font-size: 1.2rem;
  }

  main {
    padding: 1rem;
    row-gap: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  h1 > span {
    font-size: 3rem;
  }
}
